.Div-around-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    margin: 15px;
}

.Bin-1 {
    padding: 10px;
}

.Bin-2 {
    padding: 10px;
}

.Bin-3 {
    padding: 10px;
}

.Bin-4 {
    padding: 10px;
}

.Bin-button {
    font-family: 'Open Sans', sans-serif;
    height: 110px;
    width: 35%;
    border-radius: 10px;
    border: none;
    background: #ED6B5A;
    font-size: 40px;
    font-weight: 900;
    padding-right: 170px; 
    color: white;
}

.add-bin {
    padding: 20px;
}

.Add-button {
    font-family: 'Open Sans', sans-serif;
    height: 110px;
    width: 36%;
    border-radius: 10px;
    border: none;
    background: #ffb8af;
    font-size: 40px;
    font-weight: 900;
    padding-right: 40px; 
}